body{
  background-color: black;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.header-bar{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: black;
  padding: 0;
  height: 10%;
}

.bio-click, .trailer-click{
  display: block;
  position: relative;
  padding: 5px;
  margin: 0 auto;
  font-size: 30px;
  color: white;
  background: black;
}

input.bio-click, input.trailer-click{
  text-decoration: none;
  border: none;
  font-family: 'Yellowtail', cursive;
}

.bio-container{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 250px;
  position: relative;
  background-color: black;
  color: white;
  overflow-x: scroll;
}

.bio-container p{
  font-size: 25px;
  margin: 0 auto;
  position: relative;
  line-height: 40px;
}

.bio-container a{
  text-decoration: underline;
  font-size: 35px;
  color: grey;
}

.youTube{
  text-decoration: underline;
  font-size: 35px;
  color: grey;
}

.main-content{
  font-family: 'Yellowtail', cursive;
  margin: 0 auto;
  padding: 60px;
  font-size: 60px;
  line-height: 8;
  text-align: center;
  display: block;
}

.logo-container{
  display: block;
  position: relative;
  top: 35px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  text-align: center;
  padding: 10px;
  background: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(logo.jpg);
}

.email-inquiry{
  text-decoration: none;
}

.fa-envelope-o, .fa-instagram, .fa-youtube-play{
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  margin: 0 auto;
}
.fa-instagram:hover, .fa-envelope-o:hover, .fa-youtube-play{
  text-decoration: none;
  transform: rotate(360deg);
  transition: all .5s;
}

.footer{
  background-color: black;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  right: 0;
  padding: 0;
}


@media (min-width: 0px)
 and (max-width: 768px) {

.main-content{
  font-size: 40px;
  padding: 20px;
}
.logo-container{
  height: 300px;
  width: 250px;
  top: 70px;
}
.bio-container{
  top: 15px;
}
}

@media (min-width: 0px)
 and (max-width: 414px) {

.main-content{
    font-size: 25px;
}
}
